<div class="card-deck" style="margin: 2%;">
    <div class="card bg-dark text-white" routerLink="/desks" onmouseover = "this.style.opacity = '0.9'" onmouseout = "this.style.opacity = '1'" >
        <img class="card-img" src="../../assets/images/milano.png" alt="Card image" >
        <div class="card-img-overlay" style="opacity: 1;">
            <h1 class="card-title">Milano</h1>
            <p class="card-text" style="position: absolute; bottom: 5%; font-weight: bold">Piazza Santissima Trinità, 6, 20154 Milano MI</p>
        </div>
    </div>

    <div class="card bg-dark text-white" routerLink="/pan" onmouseover = "this.style.opacity = '0.9'" onmouseout = "this.style.opacity = '1'" >
        <img class="card-img" src="../../assets/images/bologna.png" alt="Card image" >
        <div class="card-img-overlay" style="opacity: 1;">
            <h1 class="card-title">Bologna</h1>
            <p class="card-text" style="position: absolute; bottom: 5%; font-weight: bold;">Via Piero Gobetti, 52, 40129 Bologna BO</p>
        </div>
    </div>
</div>