<div class="card" style="margin: 2%;" style="max-width: 28rem; filter:grayscale(100%)"
    onmouseover="this.style.filter = 'grayscale(0%)'; this.style.cursor ='pointer'"
    onmouseout="this.style.filter = 'grayscale(100%)'; this.style.cursor ='default'">
    <img src="../../assets/images/{{selected.officeDesc}}.png" class="card-img-top" />
    <div class="card-body">
        <h3 class="card-title">{{selected.officeDesc}}</h3>
        <p class="card-text">{{selected.address}}</p>
    </div>
</div>