<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center" style="margin: 5%; display:inline-block;">
    <mat-card class="box" style="margin: 0; width: 28rem;">
        <mat-card-header>
            <mat-card-title >Login</mat-card-title>
        </mat-card-header>
        <form>
            <mat-card-content>
                <mat-form-field>
                    <input matInput placeholder="Username/Email">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput placeholder="Password" type="password">
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="accent" class="btn-block" routerLink="/offices">Login</button>
        </form>
    </mat-card>
</div>