<div>
  <form style="margin: 2%;">
    <mat-card>
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="w-100">
          <ngx-multiple-dates [matDatepicker]="pickerWithToggleButton" name="modelWithToggleButton"
            placeholder="Choose a date" [(ngModel)]="modelDatePicker">
          </ngx-multiple-dates>
          <mat-datepicker-toggle matSuffix [for]="pickerWithToggleButton"></mat-datepicker-toggle>
          <mat-datepicker #pickerWithToggleButton></mat-datepicker>
        </mat-form-field>
        <div align="end">
          <button mat-raised-button [disabled]="modelDatePicker == null || modelDatePicker.length == 0">Check desk availability</button>
        </div>
      </mat-card-content>
      <!-- <mat-card-content>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-card-content> -->
    </mat-card>
    <form style="margin: 2%"></form>
    <mat-card>
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
        <mat-card-content>
          <mat-form-field class="w-100">
            <mat-label>Select a desk</mat-label>
            <mat-select [(value)]="selectedDesk" style="text-align: center;">
              <mat-option *ngFor="let desk of deskList" value="{{desk}}"> {{desk.deskNo}} </mat-option>
            </mat-select>
          </mat-form-field>
          <div align="end">
            <button mat-raised-button [disabled]="selectedDesk == null">Book selected desk</button>
          </div>
        </mat-card-content>
    </mat-card>
  </form>
  <form style="margin: 2%;">
    <div #canvasCard>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Office Plan</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <canvas #canvas></canvas>
        </mat-card-content>
      </mat-card>
    </div>
  </form>
</div>